@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');

body{
    font-family: 'Ubuntu', sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar-brand{
    font-weight: bold;
    color:white;
    text-transform: lowercase;
    font-size: 32px;
    pointer-events: none;
}

.navbar-brand span{
    text-transform: uppercase;
    font-size:2.5rem;
}

.nav-link{
    text-decoration: none;
    position: relative;
    display:inline-block;
    font-size:1.2rem;
}


.nav-item a{
    color: white;
}

.nav-link:after{
    content: '';
    display: block;
    height:2.5px;
    left:50%;
    bottom: 0;
    width: 0;
    background:white;
    transition: width 0.3s ease 0s,left 0.3s ease 0s;
    position: absolute;
}
.nav-link:hover:after{
    width:100%;
    left: 0;
}

.container .fa-bars{
    color: white;
    padding-top: 6px;
}
/* ----------------Main Section------------------ */

.main{
    width: 100%;
    height:100vh;
    background-color: black;
}

.row img{
  height:60%;
  width:60%;
  object-fit:cover;
  margin:15%;
  box-shadow: 5px 5px 8px #888888;
}

.main .content{
    font-size: 3rem;
    letter-spacing: 2px;
    padding-top:150px;
    padding-left: 50px;
    color: white;
}

.main .paragraph{
    height:90vh;
}

.content .btn2{
    background-color:pink;
    font-size:1.5rem;
    letter-spacing:1.2px;
    padding:9px;
    text-decoration:underline;
    text-transform: uppercase;
    color:black;
    font-weight:800;
    box-shadow: 2px 2px 2px lightgray;
    border-radius:50px;  
}

/* ----------------About Section ------------------ */

.about-heading{
    text-transform: uppercase;
    font-size:2.5rem;
    letter-spacing:0.5px;
    word-spacing:3px;
    background-color: lightgray;
}

.about{
    background-color: black;
}

.nav-link{
    font-size:1.5rem;
    margin-left:15px;
}

.nav-tabs {
    background-color: black; /* Set the background color to black */
}

.nav-tabs .nav-item {
    background-color: white; /* Set the background color of each tab to white */
    border: none; /* Remove the border */
    margin-right:8px;
}

.nav-tabs .nav-item .nav-link {
    color: black; /* Set the text color to black */
}

.education .first, .second, .third, .fourth{
    border-bottom: 2px solid white;
    margin:15px;
    padding:30px;
    
}

.tab-content{
color: white;
}

.education .percentage{
    font-weight: 500;
}

.education .first, .second, .third, .fourth p{
    font-size: 1.2rem;
    font-weight:400;
}

.list{
    font-size:1.5rem;
    margin:30px;
    list-style: disc;
}

.list li{
    padding:10px;
}

.course{
    margin: 30px;
    font-size:1.2rem;
}

.course li{
    padding:10px;
}


/* ----------------Project Section ------------------ */


.project-heading{
    text-transform: uppercase;
    font-size:2.5rem;
    letter-spacing:0.5px;
    word-spacing:3px;
    background-color: lightgray;
    
}

.project{
    background-color: black;
}

.container .card{
    padding:10px;
}

.container .card-img-top{
    transition: .3s;
}

.container .card-img-top:hover{
    transform:scale(1.2);
}

.container .card-title{
    font-size:1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing:0.1rem;
    padding-bottom:10px;
}

.container .card-text{
    font-size: 1.2rem;
    font-weight:400;
}

/* ----------------Contact Me Section------------------ */

.contact-heading{
    text-transform: uppercase;
    font-size:2.5rem;
    letter-spacing:0.5px;
    word-spacing:3px;
    background-color: lightgray;
}

.contact{
    background-color: black;
}


.contact-section{
    height: 88vh;
}

.details{
    padding:10px;
    text-align: center;
}

.icon{
    font-size: 1.5rem;
}
.email, .mobile{
    display: inline-block;
    font-size:1.1rem;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
}
.email-id, .mobile-no{
    padding-bottom:20px;
    font-size: 1.3rem;
}

.mobile-no{
    padding-left: 15px;
}

.details-end{
    padding:20px;
    margin: 10px;
    text-align: center;
}

.box{
    box-sizing: border-box;
    margin-top:40px;
    padding-top: 20px;
    box-shadow: 7px 7px 7px lightgray ;
    background-color:white;
}

/* ----------------Footer Section------------------ */

.footer{
    border: 2px solid black;
    padding: 30px;
    font-size: 1.2rem;
    word-spacing:3px
}

/* ----------------Media Queries------------------ */

 @media(min-width:200px) and (max-width:360px){
    .container .paragraph .content{
        padding-top:0;
        font-size:2.5rem;
    }

    .container .content{
         height:25vh; 
    }

    .container .content .btn2{
        font-size:1.2rem; 
   }

    .container .paragraph{
         height:90vh;
    } 

    .main{
        height:90vh;
    }

    .paragraph .img{    
        width:50vh;
        padding-left: 50px;
    }

    .about-heading{
        font-size: 2rem;
    }

    .nav-link{
        font-size:0.6rem;
    }

    .first,.second,.third,.fourth p{
        font-size: 1rem;
    }

    .list{
        font-size: 1.4rem;
    }

    .education .first{
        padding: 10px;
    }

    .education .second{
        padding: 10px;
    }

    .education .third{
        padding: 10px;
    }

    .education .fourth{
        padding: 10px;
    }

    .project-heading{
        font-size: 2rem;
    }

    .card .d-flex{
        flex-direction: column;
        justify-content:center;
        align-items: center;
    }  
    .card, .card-1, .card-2, .card-3, .card-4, .card-text{
        display: none;
    } 

     .container .card{
        padding-top: 10px;
    }  

    .contact-heading{
        font-size: 2rem;
    }

    .contact-section{
        height:100vh;
    }

    .card-1, .card-2{
        margin-bottom:25px;
    }
}

@media(max-width:576px){
    .container .paragraph .content{
        padding-top:0;
        font-size:2.5rem;
    }

    .main{
        height:90vh;
    }

    .paragraph .img{    
        width:100vh;
        border-radius:6%;
        object-fit: none;
        height:70%;
        margin-left:10px;
        margin-top: 50px;
    }

    .about-heading{
        font-size: 2rem;
    }

    .nav-link{
        font-size: 0.8rem;
    }

    .education .first,.second,.third, .fourth p{
        font-size: 1rem;
    }


    .list{
        font-size: 1.4rem;
    }

    .about{
        height:120vh;
    }

    .education .first{
        padding: 10px;
    }

    .education .second{
        padding: 10px;
    }

    .education .third{
        padding: 10px;
    }

    .education .fourth{
        padding: 10px;
    }

    .project-heading{
        font-size: 2rem;
    }

    .project .card{
        padding-left:10px;
    } 

 .container .card{
        padding-top: 10px;
    } 

    .contact-heading{
        font-size: 2rem;
    }

    .card .d-flex{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .details-end i{
        display: none;
    }

    .box{
        box-shadow: 7px 7px 7px lightgray;
    }

    .footer{
        padding: 10px;
        margin-top:60px;
    }
}

@media(min-width:577px) and (max-width:768px){
    .container .paragraph .content{
        font-size:2.5rem;
        padding: 10px;
    }

    .main{
        height:100vh;
        padding:0;
    }

    .paragraph .img{    
        width:100%;
        padding-left: 50px;
    }

    .about-heading{
        font-size: 2rem;
    }

    .about{
        height:120vh;
    }

    .nav-link{
        font-size: 1rem;
    }

    .first,.second,.third, .fourth p{
        font-size: 1rem;
    }

    .list{
        font-size: 1.4rem;
    }

    .education .first{
        padding: 10px;
    }

    .education .second{
        padding: 10px;
    }

    .education .third{
        padding: 10px;
    }

    .education .fourth{
        padding: 10px;
    }
    .project-heading{
        font-size: 2rem;
    }

    .container .card{
        padding-top: 10px;
    } 

   .card .d-flex{
        flex-direction: column;
         justify-content: center;
        align-items: center; 
    } 

    .contact-heading{
        font-size: 2rem;
    }

    .card-1, .card-2{
        margin-bottom:25px;
    }
}

@media(min-width:769px) and (max-width:992px){
    .container .paragraph .content{
        padding-top:0;
        font-size:2.5rem;
    }

    .container .content{
         height:25vh; 
    }

    .container .paragraph{
         height:95vh;
    } 

    .main{
        height:100vh;
    }

    .paragraph .img{    
        padding-left: 50px;
    }

    .about-heading{
        font-size: 2rem;
    }

    .nav-link{
        font-size: 1rem;
    }

    .first,.second,.third,.fourth p{
        font-size: 1rem;
    }

    .list{
        font-size: 1.4rem;
    }

    .about{
        height:120vh;
    }

    .education .first{
        padding: 10px;
    }

    .education .second{
        padding: 10px;
    }

    .education .third{
        padding: 10px;
    }

    .education .fourth{
        padding: 10px;
    }

    .project-heading{
        font-size: 2rem;
    }

    .card .d-flex{
        flex-direction: column;
        justify-content:center;
        align-items: center;
    } 

    .contact-heading{
        font-size: 2rem;
    }

    .contact-section{
        height:90vh;
    }

    .card-1, .card-2{
        margin-bottom:25px;
    }
}

@media(min-width:993px) and (max-width:1200px){
    .container .paragraph .content{
        padding-top:100px;
        font-size:2.5rem;
    }

    .container .content{
         height:50vh; 
    }


    .container .paragraph{
         height:50vh; 
         padding-top:100px;   
    } 

    .main{
        height:95vh;
    }

    .paragraph .img{    
        width:50%;
        height: 60vh;

    }

    .about-heading{
        font-size: 2rem;
    }

    .nav-link{
        font-size: 1rem;
    }

    .first,.second,.third, .fourth p{
        font-size: 1rem;
    }

    .list{
        font-size: 1.4rem;
    }

    .about{
        height:130vh;
    }

    .education .first{
        padding: 10px;
    }

    .education .second{
        padding: 10px;
    }

    .education .third{
        padding: 10px;
    }

    .education .fourth{
        padding: 10px;
    }

    .project-heading{
        font-size: 2rem;
    }

    .card .d-flex{
        flex-direction:column;
        justify-content: center;
        align-items: center; 
    } 

    .contact-heading{
        font-size: 2rem;
    }
    
   .footer{
    margin-top: 70px;
   }
}


@media(min-width:1201px) and (max-width:1450px){
    .container .paragraph .content{
        padding-top:100px;
        font-size:2.5rem;
        padding-left:130px;
    }

    .container .content{
         height:50vh; 
    }

    .container .paragraph{
         height:90vh; 
    } 

    .paragraph .img{    
        width:75vh;
        height:75vh;
        margin-left:100px ;
    }

    .about-heading{
        font-size: 2rem;
    }

    .nav-link{
        font-size: 1rem;
    }

    .first,.second,.third p{
        font-size: 1rem;
    }

    .list{
        font-size: 1.4rem;
    }

    .about{
        height:130vh;
    }

    .education .first{
        padding: 10px;
    }

    .education .second{
        padding: 10px;
    }

    .education .third{
        padding: 10px;
    }

    .education .fourth{
        padding: 10px;
    }

    .project-heading{
        font-size: 2rem;
    }

    .card .d-flex{
        flex-direction:column;
        justify-content: center;
        align-items: center;  
    } 

    .container .card{
        padding: 10px;
    }


    .contact-heading{
        font-size: 2rem;
    }
    
   .footer{
    margin-top: 70px;
   }
}
